{% extends "base.html" %}

{% block content %}

<div class="queries-header">
  <h1>Select a Query to Execute</h1>
</div>
<div class="queries">
  {% for query in queries %}
  <div class="query">
    <form action="/query/{{ loop.index }}">
      <h3>{{ query[0] }}</h3>
      <p>{{ query[2] }}</p>
      <div class="form">
        {% for input in query[1] %}
        <div>
          <label for="{{ input[0] }}">{{ input[0] }}:</label>
          <input id="{{ input[0] }}" name="{{ input[0] }}">
        </div>
        {% endfor %}
        <button type="submit">Execute</button>
      </div>
    </form>
  </div>
  {% endfor %}
</div>

{% endblock %}